# Default values for bluecompute-customer-couchdb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: klaemo/couchdb
  tag: latest
  pullPolicy: IfNotPresent

user:
password:

service:
  name: 
  type: ClusterIP
  externalPort: 5984
  internalPort: 5984

binding:
  name: binding-customer-couchdb

resources:
  limits:
    memory: 128Mi
  requests:
    memory: 64Mi

persistence:
  enabled: false
  existingName:
  volume:
    storageClass:
    size: 

global:
  persistence: 
    enabled: false
    volume: 
      storageClass:
      size: 

labels:
  datastore: couchdb

nodename: 
